
 .social {
    top: 30%;
    left: 0;
    width: 100px;
}

.social ul {
    list-style-type: none;
    padding: 0;
    transform: translateX(-270px);
}

.social ul li {
    display: block;
margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 40px;
    text-align: right;
    padding: 10px;
    border-radius: 0 45px 45px 0;
    transition: all 1s;
align-items: center;
padding-top: 10px;
}
.social ul li.facebook{
    border: 2px solid rgb(59, 86, 157);
    background-color: rgb(6, 9, 16);
}
.social ul li.instagram{
   /* border: 2px solid rgb(148, 53, 199);*/
   border-top: 2px solid rgb(124, 63, 202);
   border-right:2px solid rgb(207, 58, 158) ;
   border-bottom: 2px solid rgb(254, 187, 80);
    background-color:rgb(24, 5, 11) ;

}
.social ul li:hover {
    transform: translateX(110px);
}
i.fa.fa-facebook{
    color: rgb(59, 86, 157);
    background-color: rgb(6, 9, 16);
}
i.fa.fa-instagram{
    color: rgb(124, 63, 202);
    background-color:rgb(24, 5, 11)  ;
    font-size: 25px;
    align-items: center;
}
.social ul li.facebook:hover {
    background-color: rgb(6, 9, 16);
}

.social ul li.instagram:hover {
background-color: rgb(24, 5, 11);
    border-top: 2px solid rgb(124, 63, 202);
    border-right:2px solid rgb(207, 58, 158) ;
    border-bottom: 2px solid rgb(254, 187, 80);
}

.social ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
letter-spacing: 2px;
}

.social ul li i {
    text-align: center;
    margin-left: 14px;
    padding: 10px;

    width: 20px;
    height: 20px;
    font-size: 25px;
    transform: rotate(0deg);
}
