body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
      background-color:black;
      background-size:70% !important;
  }
  
  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

  }

    body {
              margin: 0;
              font-family: Arial, Helvetica, sans-serif;
    }

    .hero-image {
              background-color: solid black;
              background-size: 70%;
    }

    .what {
      font-weight: bolder;
    }
    .robocore {
      font-weight: 900;
      font-size: 5.5rem !important;
    }
    hr {
  border: 0;
  height: 0;
  margin-top: 5px;
  width: 25%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.first {
font-weight: 600;
}