.box{

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 1px solid white;
    border-radius: 20px;
    overflow: hidden;
    transform: rotate(45deg);
    position: relative;
  }

    /* .head {
        height: 100%;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        color: azure;
        background-size: cover;
    } */

  .box img {
    transform: rotate(-45deg);
    width: 141%;
    height: 141%;
    flex-shrink: 0;
  }
  body{
      text-align: center;
      background-color: black;
  }
  img{

  }
  .d{
      width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 60px;
  }
  body{
      display: flex;
      justify-content: center;
  }
  .stack-top{
      border: 1px solid white;
  }
  .s{
      position: relative;
      text-align: center;
      font-size: 30px;
      color: white;

      width: 250px;
      height: 250px;
   justify-content: center;
   margin: 20px;
   margin-bottom: 60px;
   border: 2px solid azure;
   border-height: 5rem;
   padding-top: 45px;
   position: relative;

   transform-style: preserve-3d;
   transition: all 0.8s ease;
  }

  .card__title {
    border-width: 10px solid white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: black;
    color: azure;
    text-align: center;
    transform: rotateY(180deg);
  }

  .s:hover {
      transform: rotateY(180deg);
  }

  p {
      font-size: 22px;
  }

  .newevent {
      color: azure;
      padding-right: 100px;
      margin-left: 400px;
      margin-right: 300px;
  }

  #headtag {
      font-size: 60px;
      padding-bottom: 50px;
  }
