body {
	text-align: center;
	background-image: url("img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	height: 150px;
}

p {
	line-height: 2;
	color: azure;
	padding-bottom: 30px;
	width: 50%;
	margin: auto;
	font-size: 1.6vw;
	font-family: 'Philosopher', sans-serif;
}
.content {
	position: absolute;
	text-align: center;
}

.heading {
	font-size: 4.5vw;
}

img {
	height: 300px;
	padding-bottom: 50px;
}

h1 {
	color: azure;
	font-family: 'Cormorant', serif;
	margin: 0;
	padding-top: 30px;
}

.register {
	margin-right: 50px;
}

.myButton {
	box-shadow: 0px 0px 0px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:26px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:15px;
	font-weight:bold;
	padding:12px 51px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}

@media only screen and (max-width: 600px) {
	.heading {
    	font-size: 2.3rem;
    }
	header {
		height: 100px;
	}
	p {
		font-size: .9rem;
		width: 85%;
	}
	img {
		height: 50%;
		width: 50%;
	}
	.register {
		margin-bottom: 10px;
		margin-right: 0;
	}
}


/* fonts available


    font-family: 'Philosopher', sans-serif;

    font-family: 'Cormorant', serif;

    font-family: 'Cinzel Decorative', cursive; */
