.box{

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 1px solid white;
    border-radius: 20px;
    overflow: hidden;
    transform: rotate(45deg);
    position: relative;
  }


  .box img {
    transform: rotate(-45deg);
    width: 141%;
    height: 141%;
    flex-shrink: 0;
  }
  body{
      background-color: black;
  }
  img{

  }
  .d{
      width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 60px;
  }
  body{
      display: flex;
      justify-content: center;
  }
  .stack-top{
      border: 1px solid white;
  }
  .s{
      position: relative;
      text-align: center;
      font-size: 30px;
      color: white;

      width: 250px;
      height: 250px;
   justify-content: center;
   margin: 20px;
   margin-bottom: 60px;
  }
