.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.middel{
    position: relative;
}

@media screen and (max-width: 1026px) {

    .icons {
        display: none !important;
    }
    .box{
        display: block !important;
    }

  }
.box{
    display: none;
}
  .box{
      align-items: center;
      bottom: 0;
      position: absolute;
      margin: 10px;
      padding: 20px;

  }

  .box1{
      font-size: 28px;
      margin: 20px;

  }
  .box2{
      font-size: 44px;
  }
.box i{
    border: 2px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: black !important;
    background-color: white !important;
    text-align: center;
    line-height: 40px;
}
@media screen and (max-width: 800px){
    .btext{
        top:30%;
        font-size: 30px;
    }
    .heading{
        font-size: 7vw;
    }

    .time{
        padding-top: 30px;
        font-size: 6vw;
    }
}