.btext{
    color: #f9f3f4;
    text-align: center;
    top: 20%;
    width: 100%;
    line-height: 0.4em;

 }
 .text{
    font-size: 2.5vw;

    letter-spacing: 7px;
    font-family: 'Raleway', sans-serif;
 }
 span.wrap{
    text-decoration: none !important;
    color: white;
 }
