
.sponsor{
	position: relative;
	height: 200vh;
	width: 100%;
	align-items: center;
	background-color: rgba(0,0,0,0.7);
	background-size: cover;
	background-position: center;
	text-align: center;
	font-size: 2em;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
.co{
    position: relative;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}
.co1{
    position: absolute;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}
.sponsor1{
    position: relative;
    height: 160vh;
    width: 100vw;
	overflow: hidden;
	align-items: center;
}
.si{
	width:250px;
	height: 200px;
	margin: 10px;
	background-color: rgba(255,255,255,0.1);
	padding: 20px;
	border: 1px solid #e5e5e5;
}
.container_s{
    position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
align-items: center;
}
footer{
	background-color: #e5e5e5;

}