body {
    background-image: url("https://static-fastly.hackerearth.com/static/hackerearth/images/marketing/algorithm_blog/space_bg.jpg");
    background-position: center;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}
 .social {
    top: 30%;
    left: 0;
}

.social ul {
    list-style-type: none;
    padding: 0;
    transform: translateX(-270px);
}

.social ul li {
    display: block;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 50px;
    text-align: right;
    padding: 10px;
    border-radius: 0 40px 40px 0;
    transition: all 1s;
align-items: center;
padding-top: 20px;
}
.social ul li.facebook{
    border: 2px solid rgb(59, 86, 157);
}
.social ul li.instagram{
    border: 2px solid rgb(255, 138, 71);
}
.social ul li:hover {
    transform: translateX(110px);
}
i.fa.fa-facebook{
    color: rgb(59, 86, 157);
    background-color: rgb(6, 9, 16);
}
i.fa.fa-instagram{
    color: rgb(255, 138, 71);
    background-color:rgb(255, 138, 71,0.3) ;
    align-items: center;
}
.social ul li.facebook:hover {
    background-color: #3d5999;
}

.social ul li.instagram:hover {
    background-color: #e4405f;
    border: #e4405f;
}

.social ul li a {
    color: white;
    text-decoration: none;
}

.social ul li i {
    text-align: center;
    margin-left: 14px;
    padding: 10px;

    width: 20px;
    height: 20px;
    font-size: 20px;
    transform: rotate(0deg);
}
