h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: white;
}

.s1 {
    background: url(../images/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    vertical-align: top !important;

    h1 {
        margin-top: 0%;
    }
}

.fp-tableCell {
    vertical-align: top !important;
}

.events {
    margin: 2% 2%;
    background-color: rgba($color:gray, $alpha: 0.4);
    height: 93%;
    border-radius: 0.5%;
}

.s2 {
    background: url(../images/3.jpg);
    background-size: cover;

    h1 {
        text-align: left;
        margin-left: 2em;
        font-size: 4rem;
    }
}

.s3 {
    background: url(../images/2.jpg);
    background-size: cover;

    h1 {
        text-align: left;
        margin-left: 2em;
        font-size: 2rem;
    }
}

span {
    background: white !important;

}