/* ---- reset ---- */

body {
    margin: 0;
  }

  canvas {
    display: block;
    vertical-align: bottom;
  }


  /* ---- particles.js container ---- */

  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .sec{
      width: 100%;
      height: 120vh;
      background-color: black;
  }
  .sec1{
    width: 100vw;
    height: 120vh;

  }


  @media screen and (device-width: 360px) and (device-height: 640px){
    .sec1,.sec{
        height: 300vh !important;
      }
    }
    @media screen and (device-width: 411px) and (device-height: 731px){
      .sec1,.sec{
          height: 280vh !important;
        }
      }
      @media screen and (device-width: 320px) and (device-height: 568px){
        .sec1,.sec{
            height: 350vh !important;
          }
        }
        @media screen and (device-width: 375px) and (device-height: 667px){
          .sec1,.sec{
              height: 300vh !important;
            }
          }

          @media screen and (device-width: 414px) and (device-height: 736px){
            .sec1,.sec{
                height: 280vh !important;
              }
            }